In [28]:
import pandas as pd
import numpy as np

In [29]:
X = pd.read_csv('adult.data')

In [30]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [31]:
def sexToNum(str):
    return int(str == ' Female')
def incomeToNum(str):
    return int(str == ' >50K')

In [32]:
X['sex'] = X['sex'].apply(sexToNum)
X['income'] = X['income'].apply(incomeToNum)

In [33]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,0,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,1,0,0,40,Cuba,0

In [34]:
groups = X.groupby('sex')
observed = np.zeros((2,2), dtype=int)
expected = np.empty(observed.shape, dtype=float)

In [35]:
for i in range(2):
    g = groups.get_group(i)
    for j in range(len(g)):
        observed[g.iloc[j,:]['income']][i] += 1

In [39]:
for i in range(expected.shape[0]):
    for j in range(expected.shape[1]):
        expected[i][j] = (np.sum(observed, axis=1)[i] * np.sum(observed, axis=0)[j]) / np.sum(observed)

In [46]:
print(observed)
print(expected)

[[15128  9592]
 [ 6662  1179]]
[[16542.75974325  8177.24025675]
 [ 5247.24025675  2593.75974325]]

In [41]:
from scipy.stats import chisquare

In [42]:
chisquare(observed.ravel(), f_exp=expected.ravel())

Power_divergenceResult(statistic=1518.8868199570725, pvalue=0.0)

In [49]:
no_college = X[X['education-num'] < 11]
college = X[X['education-num'] >= 11]
X_temp = [no_college, college]

In [51]:
for i in range(2):
    for j in range(len(X_temp[i])):
        observed[X_temp[i].iloc[j,:]['income']][i] += 1

In [53]:
for i in range(expected.shape[0]):
    for j in range(expected.shape[1]):
        expected[i][j] = (np.sum(observed, axis=1)[i] * np.sum(observed, axis=0)[j]) / np.sum(observed)

In [54]:
chisquare(observed.ravel(), f_exp=expected.ravel())

Power_divergenceResult(statistic=131.93361055802228, pvalue=2.0718265608025513e-28)